/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-1-white-left-name: 'arrow-1-white-left';
$arrow-1-white-left-x: 92px;
$arrow-1-white-left-y: 70px;
$arrow-1-white-left-offset-x: -92px;
$arrow-1-white-left-offset-y: -70px;
$arrow-1-white-left-width: 15px;
$arrow-1-white-left-height: 14px;
$arrow-1-white-left-total-width: 340px;
$arrow-1-white-left-total-height: 316px;
$arrow-1-white-left-image: '../img/sprite.png';
$arrow-1-white-left: (92px, 70px, -92px, -70px, 15px, 14px, 340px, 316px, '../img/sprite.png', 'arrow-1-white-left', );
$arrow-2-white-left-name: 'arrow-2-white-left';
$arrow-2-white-left-x: 285px;
$arrow-2-white-left-y: 65px;
$arrow-2-white-left-offset-x: -285px;
$arrow-2-white-left-offset-y: -65px;
$arrow-2-white-left-width: 34px;
$arrow-2-white-left-height: 66px;
$arrow-2-white-left-total-width: 340px;
$arrow-2-white-left-total-height: 316px;
$arrow-2-white-left-image: '../img/sprite.png';
$arrow-2-white-left: (285px, 65px, -285px, -65px, 34px, 66px, 340px, 316px, '../img/sprite.png', 'arrow-2-white-left', );
$arrow-2-white-right-name: 'arrow-2-white-right';
$arrow-2-white-right-x: 285px;
$arrow-2-white-right-y: 131px;
$arrow-2-white-right-offset-x: -285px;
$arrow-2-white-right-offset-y: -131px;
$arrow-2-white-right-width: 33px;
$arrow-2-white-right-height: 62px;
$arrow-2-white-right-total-width: 340px;
$arrow-2-white-right-total-height: 316px;
$arrow-2-white-right-image: '../img/sprite.png';
$arrow-2-white-right: (285px, 131px, -285px, -131px, 33px, 62px, 340px, 316px, '../img/sprite.png', 'arrow-2-white-right', );
$ico-agree-2-dark-name: 'ico-agree-2-dark';
$ico-agree-2-dark-x: 285px;
$ico-agree-2-dark-y: 223px;
$ico-agree-2-dark-offset-x: -285px;
$ico-agree-2-dark-offset-y: -223px;
$ico-agree-2-dark-width: 13px;
$ico-agree-2-dark-height: 12px;
$ico-agree-2-dark-total-width: 340px;
$ico-agree-2-dark-total-height: 316px;
$ico-agree-2-dark-image: '../img/sprite.png';
$ico-agree-2-dark: (285px, 223px, -285px, -223px, 13px, 12px, 340px, 316px, '../img/sprite.png', 'ico-agree-2-dark', );
$ico-agree-dark-name: 'ico-agree-dark';
$ico-agree-dark-x: 318px;
$ico-agree-dark-y: 147px;
$ico-agree-dark-offset-x: -318px;
$ico-agree-dark-offset-y: -147px;
$ico-agree-dark-width: 19px;
$ico-agree-dark-height: 13px;
$ico-agree-dark-total-width: 340px;
$ico-agree-dark-total-height: 316px;
$ico-agree-dark-image: '../img/sprite.png';
$ico-agree-dark: (318px, 147px, -318px, -147px, 19px, 13px, 340px, 316px, '../img/sprite.png', 'ico-agree-dark', );
$ico-application-coop-name: 'ico-application-coop';
$ico-application-coop-x: 0px;
$ico-application-coop-y: 87px;
$ico-application-coop-offset-x: 0px;
$ico-application-coop-offset-y: -87px;
$ico-application-coop-width: 100px;
$ico-application-coop-height: 69px;
$ico-application-coop-total-width: 340px;
$ico-application-coop-total-height: 316px;
$ico-application-coop-image: '../img/sprite.png';
$ico-application-coop: (0px, 87px, 0px, -87px, 100px, 69px, 340px, 316px, '../img/sprite.png', 'ico-application-coop', );
$ico-application-innov-name: 'ico-application-innov';
$ico-application-innov-x: 84px;
$ico-application-innov-y: 156px;
$ico-application-innov-offset-x: -84px;
$ico-application-innov-offset-y: -156px;
$ico-application-innov-width: 68px;
$ico-application-innov-height: 77px;
$ico-application-innov-total-width: 340px;
$ico-application-innov-total-height: 316px;
$ico-application-innov-image: '../img/sprite.png';
$ico-application-innov: (84px, 156px, -84px, -156px, 68px, 77px, 340px, 316px, '../img/sprite.png', 'ico-application-innov', );
$ico-application-know-name: 'ico-application-know';
$ico-application-know-x: 170px;
$ico-application-know-y: 87px;
$ico-application-know-offset-x: -170px;
$ico-application-know-offset-y: -87px;
$ico-application-know-width: 68px;
$ico-application-know-height: 57px;
$ico-application-know-total-width: 340px;
$ico-application-know-total-height: 316px;
$ico-application-know-image: '../img/sprite.png';
$ico-application-know: (170px, 87px, -170px, -87px, 68px, 57px, 340px, 316px, '../img/sprite.png', 'ico-application-know', );
$ico-calendar-1-gray-name: 'ico-calendar-1-gray';
$ico-calendar-1-gray-x: 55px;
$ico-calendar-1-gray-y: 235px;
$ico-calendar-1-gray-offset-x: -55px;
$ico-calendar-1-gray-offset-y: -235px;
$ico-calendar-1-gray-width: 28px;
$ico-calendar-1-gray-height: 24px;
$ico-calendar-1-gray-total-width: 340px;
$ico-calendar-1-gray-total-height: 316px;
$ico-calendar-1-gray-image: '../img/sprite.png';
$ico-calendar-1-gray: (55px, 235px, -55px, -235px, 28px, 24px, 340px, 316px, '../img/sprite.png', 'ico-calendar-1-gray', );
$ico-calendar-navy-blue-name: 'ico-calendar-navy-blue';
$ico-calendar-navy-blue-x: 319px;
$ico-calendar-navy-blue-y: 85px;
$ico-calendar-navy-blue-offset-x: -319px;
$ico-calendar-navy-blue-offset-y: -85px;
$ico-calendar-navy-blue-width: 20px;
$ico-calendar-navy-blue-height: 17px;
$ico-calendar-navy-blue-total-width: 340px;
$ico-calendar-navy-blue-total-height: 316px;
$ico-calendar-navy-blue-image: '../img/sprite.png';
$ico-calendar-navy-blue: (319px, 85px, -319px, -85px, 20px, 17px, 340px, 316px, '../img/sprite.png', 'ico-calendar-navy-blue', );
$ico-categories-white-name: 'ico-categories-white';
$ico-categories-white-x: 285px;
$ico-categories-white-y: 193px;
$ico-categories-white-offset-x: -285px;
$ico-categories-white-offset-y: -193px;
$ico-categories-white-width: 47px;
$ico-categories-white-height: 30px;
$ico-categories-white-total-width: 340px;
$ico-categories-white-total-height: 316px;
$ico-categories-white-image: '../img/sprite.png';
$ico-categories-white: (285px, 193px, -285px, -193px, 47px, 30px, 340px, 316px, '../img/sprite.png', 'ico-categories-white', );
$ico-category-analize-name: 'ico-category-analize';
$ico-category-analize-x: 152px;
$ico-category-analize-y: 156px;
$ico-category-analize-offset-x: -152px;
$ico-category-analize-offset-y: -156px;
$ico-category-analize-width: 67px;
$ico-category-analize-height: 74px;
$ico-category-analize-total-width: 340px;
$ico-category-analize-total-height: 316px;
$ico-category-analize-image: '../img/sprite.png';
$ico-category-analize: (152px, 156px, -152px, -156px, 67px, 74px, 340px, 316px, '../img/sprite.png', 'ico-category-analize', );
$ico-category-default-name: 'ico-category-default';
$ico-category-default-x: 219px;
$ico-category-default-y: 156px;
$ico-category-default-offset-x: -219px;
$ico-category-default-offset-y: -156px;
$ico-category-default-width: 63px;
$ico-category-default-height: 61px;
$ico-category-default-total-width: 340px;
$ico-category-default-total-height: 316px;
$ico-category-default-image: '../img/sprite.png';
$ico-category-default: (219px, 156px, -219px, -156px, 63px, 61px, 340px, 316px, '../img/sprite.png', 'ico-category-default', );
$ico-category-light-name: 'ico-category-light';
$ico-category-light-x: 0px;
$ico-category-light-y: 156px;
$ico-category-light-offset-x: 0px;
$ico-category-light-offset-y: -156px;
$ico-category-light-width: 84px;
$ico-category-light-height: 79px;
$ico-category-light-total-width: 340px;
$ico-category-light-total-height: 316px;
$ico-category-light-image: '../img/sprite.png';
$ico-category-light: (0px, 156px, 0px, -156px, 84px, 79px, 340px, 316px, '../img/sprite.png', 'ico-category-light', );
$ico-category-managment-name: 'ico-category-managment';
$ico-category-managment-x: 285px;
$ico-category-managment-y: 0px;
$ico-category-managment-offset-x: -285px;
$ico-category-managment-offset-y: 0px;
$ico-category-managment-width: 55px;
$ico-category-managment-height: 65px;
$ico-category-managment-total-width: 340px;
$ico-category-managment-total-height: 316px;
$ico-category-managment-image: '../img/sprite.png';
$ico-category-managment: (285px, 0px, -285px, 0px, 55px, 65px, 340px, 316px, '../img/sprite.png', 'ico-category-managment', );
$ico-category-ppm-name: 'ico-category-ppm';
$ico-category-ppm-x: 100px;
$ico-category-ppm-y: 87px;
$ico-category-ppm-offset-x: -100px;
$ico-category-ppm-offset-y: -87px;
$ico-category-ppm-width: 70px;
$ico-category-ppm-height: 65px;
$ico-category-ppm-total-width: 340px;
$ico-category-ppm-total-height: 316px;
$ico-category-ppm-image: '../img/sprite.png';
$ico-category-ppm: (100px, 87px, -100px, -87px, 70px, 65px, 340px, 316px, '../img/sprite.png', 'ico-category-ppm', );
$ico-community-people-white-name: 'ico-community-people-white';
$ico-community-people-white-x: 219px;
$ico-community-people-white-y: 36px;
$ico-community-people-white-offset-x: -219px;
$ico-community-people-white-offset-y: -36px;
$ico-community-people-white-width: 30px;
$ico-community-people-white-height: 30px;
$ico-community-people-white-total-width: 340px;
$ico-community-people-white-total-height: 316px;
$ico-community-people-white-image: '../img/sprite.png';
$ico-community-people-white: (219px, 36px, -219px, -36px, 30px, 30px, 340px, 316px, '../img/sprite.png', 'ico-community-people-white', );
$ico-document-1-white-name: 'ico-document-1-white';
$ico-document-1-white-x: 0px;
$ico-document-1-white-y: 289px;
$ico-document-1-white-offset-x: 0px;
$ico-document-1-white-offset-y: -289px;
$ico-document-1-white-width: 23px;
$ico-document-1-white-height: 27px;
$ico-document-1-white-total-width: 340px;
$ico-document-1-white-total-height: 316px;
$ico-document-1-white-image: '../img/sprite.png';
$ico-document-1-white: (0px, 289px, 0px, -289px, 23px, 27px, 340px, 316px, '../img/sprite.png', 'ico-document-1-white', );
$ico-document-2-dark-name: 'ico-document-2-dark';
$ico-document-2-dark-x: 319px;
$ico-document-2-dark-y: 102px;
$ico-document-2-dark-offset-x: -319px;
$ico-document-2-dark-offset-y: -102px;
$ico-document-2-dark-width: 15px;
$ico-document-2-dark-height: 19px;
$ico-document-2-dark-total-width: 340px;
$ico-document-2-dark-total-height: 316px;
$ico-document-2-dark-image: '../img/sprite.png';
$ico-document-2-dark: (319px, 102px, -319px, -102px, 15px, 19px, 340px, 316px, '../img/sprite.png', 'ico-document-2-dark', );
$ico-document-pdf-1-yellow-name: 'ico-document-pdf-1-yellow';
$ico-document-pdf-1-yellow-x: 319px;
$ico-document-pdf-1-yellow-y: 65px;
$ico-document-pdf-1-yellow-offset-x: -319px;
$ico-document-pdf-1-yellow-offset-y: -65px;
$ico-document-pdf-1-yellow-width: 17px;
$ico-document-pdf-1-yellow-height: 20px;
$ico-document-pdf-1-yellow-total-width: 340px;
$ico-document-pdf-1-yellow-total-height: 316px;
$ico-document-pdf-1-yellow-image: '../img/sprite.png';
$ico-document-pdf-1-yellow: (319px, 65px, -319px, -65px, 17px, 20px, 340px, 316px, '../img/sprite.png', 'ico-document-pdf-1-yellow', );
$ico-edit-red-name: 'ico-edit-red';
$ico-edit-red-x: 318px;
$ico-edit-red-y: 160px;
$ico-edit-red-offset-x: -318px;
$ico-edit-red-offset-y: -160px;
$ico-edit-red-width: 15px;
$ico-edit-red-height: 15px;
$ico-edit-red-total-width: 340px;
$ico-edit-red-total-height: 316px;
$ico-edit-red-image: '../img/sprite.png';
$ico-edit-red: (318px, 160px, -318px, -160px, 15px, 15px, 340px, 316px, '../img/sprite.png', 'ico-edit-red', );
$ico-hand-1-white-name: 'ico-hand-1-white';
$ico-hand-1-white-x: 318px;
$ico-hand-1-white-y: 175px;
$ico-hand-1-white-offset-x: -318px;
$ico-hand-1-white-offset-y: -175px;
$ico-hand-1-white-width: 14px;
$ico-hand-1-white-height: 15px;
$ico-hand-1-white-total-width: 340px;
$ico-hand-1-white-total-height: 316px;
$ico-hand-1-white-image: '../img/sprite.png';
$ico-hand-1-white: (318px, 175px, -318px, -175px, 14px, 15px, 340px, 316px, '../img/sprite.png', 'ico-hand-1-white', );
$ico-information-white-name: 'ico-information-white';
$ico-information-white-x: 0px;
$ico-information-white-y: 235px;
$ico-information-white-offset-x: 0px;
$ico-information-white-offset-y: -235px;
$ico-information-white-width: 29px;
$ico-information-white-height: 29px;
$ico-information-white-total-width: 340px;
$ico-information-white-total-height: 316px;
$ico-information-white-image: '../img/sprite.png';
$ico-information-white: (0px, 235px, 0px, -235px, 29px, 29px, 340px, 316px, '../img/sprite.png', 'ico-information-white', );
$ico-light-white-name: 'ico-light-white';
$ico-light-white-x: 150px;
$ico-light-white-y: 36px;
$ico-light-white-offset-x: -150px;
$ico-light-white-offset-y: -36px;
$ico-light-white-width: 36px;
$ico-light-white-height: 34px;
$ico-light-white-total-width: 340px;
$ico-light-white-total-height: 316px;
$ico-light-white-image: '../img/sprite.png';
$ico-light-white: (150px, 36px, -150px, -36px, 36px, 34px, 340px, 316px, '../img/sprite.png', 'ico-light-white', );
$ico-loop-1-white-name: 'ico-loop-1-white';
$ico-loop-1-white-x: 29px;
$ico-loop-1-white-y: 235px;
$ico-loop-1-white-offset-x: -29px;
$ico-loop-1-white-offset-y: -235px;
$ico-loop-1-white-width: 26px;
$ico-loop-1-white-height: 26px;
$ico-loop-1-white-total-width: 340px;
$ico-loop-1-white-total-height: 316px;
$ico-loop-1-white-image: '../img/sprite.png';
$ico-loop-1-white: (29px, 235px, -29px, -235px, 26px, 26px, 340px, 316px, '../img/sprite.png', 'ico-loop-1-white', );
$ico-loop-2-dark-name: 'ico-loop-2-dark';
$ico-loop-2-dark-x: 318px;
$ico-loop-2-dark-y: 131px;
$ico-loop-2-dark-offset-x: -318px;
$ico-loop-2-dark-offset-y: -131px;
$ico-loop-2-dark-width: 16px;
$ico-loop-2-dark-height: 16px;
$ico-loop-2-dark-total-width: 340px;
$ico-loop-2-dark-total-height: 316px;
$ico-loop-2-dark-image: '../img/sprite.png';
$ico-loop-2-dark: (318px, 131px, -318px, -131px, 16px, 16px, 340px, 316px, '../img/sprite.png', 'ico-loop-2-dark', );
$ico-message-1-name: 'ico-message-1';
$ico-message-1-x: 0px;
$ico-message-1-y: 0px;
$ico-message-1-offset-x: 0px;
$ico-message-1-offset-y: 0px;
$ico-message-1-width: 92px;
$ico-message-1-height: 87px;
$ico-message-1-total-width: 340px;
$ico-message-1-total-height: 316px;
$ico-message-1-image: '../img/sprite.png';
$ico-message-1: (0px, 0px, 0px, 0px, 92px, 87px, 340px, 316px, '../img/sprite.png', 'ico-message-1', );
$ico-messages-white-name: 'ico-messages-white';
$ico-messages-white-x: 238px;
$ico-messages-white-y: 116px;
$ico-messages-white-offset-x: -238px;
$ico-messages-white-offset-y: -116px;
$ico-messages-white-width: 32px;
$ico-messages-white-height: 24px;
$ico-messages-white-total-width: 340px;
$ico-messages-white-total-height: 316px;
$ico-messages-white-image: '../img/sprite.png';
$ico-messages-white: (238px, 116px, -238px, -116px, 32px, 24px, 340px, 316px, '../img/sprite.png', 'ico-messages-white', );
$ico-person-dark-name: 'ico-person-dark';
$ico-person-dark-x: 334px;
$ico-person-dark-y: 102px;
$ico-person-dark-offset-x: -334px;
$ico-person-dark-offset-y: -102px;
$ico-person-dark-width: 6px;
$ico-person-dark-height: 17px;
$ico-person-dark-total-width: 340px;
$ico-person-dark-total-height: 316px;
$ico-person-dark-image: '../img/sprite.png';
$ico-person-dark: (334px, 102px, -334px, -102px, 6px, 17px, 340px, 316px, '../img/sprite.png', 'ico-person-dark', );
$ico-player-1-white-name: 'ico-player-1-white';
$ico-player-1-white-x: 0px;
$ico-player-1-white-y: 264px;
$ico-player-1-white-offset-x: 0px;
$ico-player-1-white-offset-y: -264px;
$ico-player-1-white-width: 25px;
$ico-player-1-white-height: 25px;
$ico-player-1-white-total-width: 340px;
$ico-player-1-white-total-height: 316px;
$ico-player-1-white-image: '../img/sprite.png';
$ico-player-1-white: (0px, 264px, 0px, -264px, 25px, 25px, 340px, 316px, '../img/sprite.png', 'ico-player-1-white', );
$ico-plus-1-red-name: 'ico-plus-1-red';
$ico-plus-1-red-x: 238px;
$ico-plus-1-red-y: 87px;
$ico-plus-1-red-offset-x: -238px;
$ico-plus-1-red-offset-y: -87px;
$ico-plus-1-red-width: 29px;
$ico-plus-1-red-height: 29px;
$ico-plus-1-red-total-width: 340px;
$ico-plus-1-red-total-height: 316px;
$ico-plus-1-red-image: '../img/sprite.png';
$ico-plus-1-red: (238px, 87px, -238px, -87px, 29px, 29px, 340px, 316px, '../img/sprite.png', 'ico-plus-1-red', );
$ico-plus-1-white-name: 'ico-plus-1-white';
$ico-plus-1-white-x: 249px;
$ico-plus-1-white-y: 36px;
$ico-plus-1-white-offset-x: -249px;
$ico-plus-1-white-offset-y: -36px;
$ico-plus-1-white-width: 29px;
$ico-plus-1-white-height: 29px;
$ico-plus-1-white-total-width: 340px;
$ico-plus-1-white-total-height: 316px;
$ico-plus-1-white-image: '../img/sprite.png';
$ico-plus-1-white: (249px, 36px, -249px, -36px, 29px, 29px, 340px, 316px, '../img/sprite.png', 'ico-plus-1-white', );
$ico-settings-white-name: 'ico-settings-white';
$ico-settings-white-x: 83px;
$ico-settings-white-y: 235px;
$ico-settings-white-offset-x: -83px;
$ico-settings-white-offset-y: -235px;
$ico-settings-white-width: 25px;
$ico-settings-white-height: 24px;
$ico-settings-white-total-width: 340px;
$ico-settings-white-total-height: 316px;
$ico-settings-white-image: '../img/sprite.png';
$ico-settings-white: (83px, 235px, -83px, -235px, 25px, 24px, 340px, 316px, '../img/sprite.png', 'ico-settings-white', );
$ico-stamps-white-name: 'ico-stamps-white';
$ico-stamps-white-x: 186px;
$ico-stamps-white-y: 36px;
$ico-stamps-white-offset-x: -186px;
$ico-stamps-white-offset-y: -36px;
$ico-stamps-white-width: 33px;
$ico-stamps-white-height: 33px;
$ico-stamps-white-total-width: 340px;
$ico-stamps-white-total-height: 316px;
$ico-stamps-white-image: '../img/sprite.png';
$ico-stamps-white: (186px, 36px, -186px, -36px, 33px, 33px, 340px, 316px, '../img/sprite.png', 'ico-stamps-white', );
$ico-update-1-dark-name: 'ico-update-1-dark';
$ico-update-1-dark-x: 319px;
$ico-update-1-dark-y: 121px;
$ico-update-1-dark-offset-x: -319px;
$ico-update-1-dark-offset-y: -121px;
$ico-update-1-dark-width: 12px;
$ico-update-1-dark-height: 10px;
$ico-update-1-dark-total-width: 340px;
$ico-update-1-dark-total-height: 316px;
$ico-update-1-dark-image: '../img/sprite.png';
$ico-update-1-dark: (319px, 121px, -319px, -121px, 12px, 10px, 340px, 316px, '../img/sprite.png', 'ico-update-1-dark', );
$ico-update-1-white-name: 'ico-update-1-white';
$ico-update-1-white-x: 310px;
$ico-update-1-white-y: 223px;
$ico-update-1-white-offset-x: -310px;
$ico-update-1-white-offset-y: -223px;
$ico-update-1-white-width: 12px;
$ico-update-1-white-height: 10px;
$ico-update-1-white-total-width: 340px;
$ico-update-1-white-total-height: 316px;
$ico-update-1-white-image: '../img/sprite.png';
$ico-update-1-white: (310px, 223px, -310px, -223px, 12px, 10px, 340px, 316px, '../img/sprite.png', 'ico-update-1-white', );
$ico-x-dark-name: 'ico-x-dark';
$ico-x-dark-x: 298px;
$ico-x-dark-y: 223px;
$ico-x-dark-offset-x: -298px;
$ico-x-dark-offset-y: -223px;
$ico-x-dark-width: 12px;
$ico-x-dark-height: 11px;
$ico-x-dark-total-width: 340px;
$ico-x-dark-total-height: 316px;
$ico-x-dark-image: '../img/sprite.png';
$ico-x-dark: (298px, 223px, -298px, -223px, 12px, 11px, 340px, 316px, '../img/sprite.png', 'ico-x-dark', );
$ico-youtube-play-name: 'ico-youtube-play';
$ico-youtube-play-x: 92px;
$ico-youtube-play-y: 36px;
$ico-youtube-play-offset-x: -92px;
$ico-youtube-play-offset-y: -36px;
$ico-youtube-play-width: 58px;
$ico-youtube-play-height: 34px;
$ico-youtube-play-total-width: 340px;
$ico-youtube-play-total-height: 316px;
$ico-youtube-play-image: '../img/sprite.png';
$ico-youtube-play: (92px, 36px, -92px, -36px, 58px, 34px, 340px, 316px, '../img/sprite.png', 'ico-youtube-play', );
$logo-name: 'logo';
$logo-x: 92px;
$logo-y: 0px;
$logo-offset-x: -92px;
$logo-offset-y: 0px;
$logo-width: 193px;
$logo-height: 36px;
$logo-total-width: 340px;
$logo-total-height: 316px;
$logo-image: '../img/sprite.png';
$logo: (92px, 0px, -92px, 0px, 193px, 36px, 340px, 316px, '../img/sprite.png', 'logo', );
$spritesheet-width: 340px;
$spritesheet-height: 316px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-1-white-left, $arrow-2-white-left, $arrow-2-white-right, $ico-agree-2-dark, $ico-agree-dark, $ico-application-coop, $ico-application-innov, $ico-application-know, $ico-calendar-1-gray, $ico-calendar-navy-blue, $ico-categories-white, $ico-category-analize, $ico-category-default, $ico-category-light, $ico-category-managment, $ico-category-ppm, $ico-community-people-white, $ico-document-1-white, $ico-document-2-dark, $ico-document-pdf-1-yellow, $ico-edit-red, $ico-hand-1-white, $ico-information-white, $ico-light-white, $ico-loop-1-white, $ico-loop-2-dark, $ico-message-1, $ico-messages-white, $ico-person-dark, $ico-player-1-white, $ico-plus-1-red, $ico-plus-1-white, $ico-settings-white, $ico-stamps-white, $ico-update-1-dark, $ico-update-1-white, $ico-x-dark, $ico-youtube-play, $logo, );
$spritesheet: (340px, 316px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
