/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_black:       #000;
$color_white:       #fff;

/* Sizes
========================================================================== */
$size_inner:        1200px;

/* Fonts
========================================================================== */

$font_normal:         Arial, sans-serif;
